<!-- header.html -->
<header>
    <nav class="white">
        <div class="nav-wrapper white">
            <a href="/" class="brand-logo grey-text text-darken-4">🪜 Eche//e</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right grey-text text-darken-4"><i
                    class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/" class="grey-text text-darken-4">Home</a></li>
            </ul>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
</header>