<!-- header.html -->
<header>
    <nav class="blue">
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo">Echelle</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/">Home</a></li>
            </ul>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
</header>