{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to Echelle.</h2>
<p>An application to help you track your weigth loss.</p>
<a href="#" class="btn waves-effect waves-light">Example</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<div class="row">
  <div class="col s1">1</div>
  <div class="col s1">2</div>
  <div class="col s1">3</div>
  <div class="col s1">4</div>
  <div class="col s1">5</div>
  <div class="col s1">6</div>
  <div class="col s1">7</div>
  <div class="col s1">8</div>
  <div class="col s1">9</div>
  <div class="col s1">10</div>
  <div class="col s1">11</div>
  <div class="col s1">12</div>
  <div class="col s12 blue center">full</div>
</div>
{% endblock %}